@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease;
}

body::before {
  content: '';
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  position: relative;
  height: 70vh;
  width: 70vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.slide {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  top: -15vh;
  left: -15vw;
  width: 100vw;
  height: 100vh;
  transition: 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  cursor: pointer;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  height: 100px;
  width: 60px;
  background: transparent;
  color: #fff;
  font-size: 24px;
  border: 2px solid orange;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.arrow.left-arrow {
  left: calc(15vw - 58px);
}

.arrow.right-arrow {
  right: calc(15vw - 58px);
}
