// Here you can add other styles
.sidebar-brand-text {
  height: 1rem;
}

th {
  background-color: #FAFAFA !important;
}

.bg-base {
  background-color: $base !important;
  color: $white !important;
}

.shadow {
  box-shadow: $box-shadow !important;
}

.three-dots {
  width: fit-content !important;
  padding: 0px !important;
  display: flex !important;
  align-self: center !important;
  justify-self: center !important;
  background-color: transparent !important;
  color: #495057 !important;
  border: none !important;
}

.three-dots:focus {
  box-shadow: none !important;
}

.p-highlight {
  color: #FFFFFF !important;
  background-color: $base !important;
}

.p-paginator-element:hover {
  color: $base !important;
  background-color: rgba($color: $base, $alpha: .1) !important;
}

.p-highlight.p-paginator-element:focus,
.p-paginator-element:focus:not(.p-highlight) {
  box-shadow: none !important;
}

.p-dropdown:hover,
.p-dropdown:active,
.p-dropdown:focus-visible,
.p-dropdown:not(.p-disabled).p-focus {
  border-color: $base !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem rgba($color: $base, $alpha: .1) !important;
}

.p-dialog-header-close {
  box-shadow: none !important;
}

.green-logo, .blue-logo, .purple-logo {
  height: 2rem;
  margin-right: 0.5rem;
}

.green-logo {
  filter: invert(42%) sepia(87%) saturate(1527%) hue-rotate(143deg) brightness(102%) contrast(101%);
}

.blue-logo {
  filter: invert(25%) sepia(69%) saturate(6698%) hue-rotate(210deg) brightness(86%) contrast(101%);
}

.purple-logo {
  filter: invert(22%) sepia(95%) saturate(7193%) hue-rotate(275deg) brightness(85%) contrast(106%);
}
