// Here you can add other styles
.sidebar-brand-text {
  height: 1rem;
}

th {
  background-color: #FAFAFA !important;
}

.bg-base {
  background-color: $base !important;
  color: $white !important;
}

.bg-base:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgba($color: $base, $alpha: .25), 0 1px 2px 0 rgb(0, 0, 0) !important;
}

.bg-secondary {
  background-color: #f3f4f6 !important;
  color: #565e6c !important;
  border: none !important;
}

.bg-secondary:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d4d4d4, 0 1px 2px 0 rgb(0, 0, 0) !important;
}

CButton {
  padding: .5rem 1rem !important;
}

.shadow {
  box-shadow: $box-shadow !important;
}

.three-dots {
  width: fit-content !important;
  padding: 0px !important;
  display: flex !important;
  align-self: center !important;
  justify-self: center !important;
  background-color: transparent !important;
  color: #495057 !important;
  border: none !important;
}

.three-dots:focus {
  box-shadow: none !important;
}

.p-highlight {
  color: #FFFFFF !important;
  background-color: $base !important;
}

.p-paginator-element:hover {
  color: $base !important;
  background-color: rgba($color: $base, $alpha: .1) !important;
}

.p-highlight.p-paginator-element:focus,
.p-paginator-element:focus:not(.p-highlight) {
  box-shadow: none !important;
}

.p-dropdown:hover,
.p-dropdown:active,
.p-dropdown:focus-visible,
.p-dropdown:not(.p-disabled).p-focus {
  border-color: $base !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem rgba($color: $base, $alpha: .1) !important;
}

.p-dialog-header-close {
  box-shadow: none !important;
}

.green-logo, .blue-logo, .purple-logo {
  height: 2rem;
  margin-right: 0.5rem;
}

.green-logo {
  filter: invert(42%) sepia(87%) saturate(1527%) hue-rotate(143deg) brightness(102%) contrast(101%);
}

.blue-logo {
  filter: invert(25%) sepia(69%) saturate(6698%) hue-rotate(210deg) brightness(86%) contrast(101%);
}

.purple-logo {
  filter: invert(22%) sepia(95%) saturate(7193%) hue-rotate(275deg) brightness(85%) contrast(106%);
}

.details-table {
  margin: 0 !important;
}
.details-table td, .details-table th {
  width: 50% !important;
  background-color: #FFFFFF !important;
  border-bottom: 1px solid #DEE2E6 !important;
  padding: 10px !important;
}

.soft-delete {
  opacity: 50% !important;
  text-decoration: line-through;
}

.input-group-text {
  background-color: $base !important;
  color: #FFFFFF !important;
}

.input-group-custom {
  border-bottom-right-radius: .375rem !important;
  border-top-right-radius: .375rem !important;
}
